<div class="wrap">
    <div class="grid">
        <div class="col-12">
            <div class="text-center p-3 border-round-sm surface-50 font-bold shadow-1" >
                
                
                <table>
                    <tbody>
                        <tr>
                            <td>Value:</td>
                            <td><input pInputText style="width: 100%;" required />&nbsp;<br></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <p-button label="Register" type="submit"></p-button>
                            </td>
                        </tr>
                    </tbody>
                    </table>



            </div>
        </div>
    </div>
</div>
