
<div class="wrap">
    <div class="grid">
        <div class="col-12">
            <div class="text-center p-1 border-round-sm h-full surface-50 shadow-1">
                <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
            </div>
        </div>

        <div class="col-6" style="font-size: 14px;">
            <div class="text-left border-round-sm surface-50 font-bold shadow-1" style="padding: 12px;">

                <div style="">
                    Safe: R$ 17.899,75
                </div>

                <div style="margin-top: 10px;">
                    Preview: R$ 3.500,00
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="text-center p-4 border-round-sm surface-50 font-bold shadow-1">
                <div style="">
                    AAA
                </div>
            </div>

            <div class="text-center p-4 border-round-sm surface-50 font-bold shadow-1" style="margin-top: 10px;">
                <div style="">
                   CCC
                </div>
            </div>
        </div>



    </div>
</div>

  <br><br><br><br><br>
